* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Arial, '微軟正黑體', Helvetica, sans-serif;
}

header {
  background-image: url(./img/BANNER.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 1150px;
}

@media screen and (max-width:767px) {
  header {
    background-image: url(./img/RWD.png);
    /* background-image: none; */
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    /* min-height: auto; */
    min-height: 569px;
  }
}

.maxwidth {
  max-width: 1200px;
  margin: 0 auto;
  cursor: default;
}

@media screen and (max-width:767px) {
  .maxwidth {
    width: 100%;
    margin: 0;
  }
}

header>a {
  display: inline-block;
}

.maxwidth a>img {
  margin-left: 50px;
}

@media screen and (max-width:767px) {
  .maxwidth a>img {
    width: 20%;
    margin: 4.5%;
  }
}

.title {
  margin-left: 80px;
  margin-top: 80px;
  margin-bottom: 280px;
}

@media screen and (max-width:767px) {
  .title {
    margin: 3% 7% 0 14%;
  }
}

.title>h3 {
  color: #C0994C;
  font-size: 28px;
  margin-bottom: 0;
}

@media screen and (max-width:767px) {
  .title>h3 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 0;
  }
}

.title h2 {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width:767px) {
  .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-top: -3%;
    letter-spacing: -2px;
  }
}

.title h2:nth-child(3) {
  padding-left: 135px;
  letter-spacing: 2px;
}

@media screen and (max-width:767px) {
  .title h2:nth-child(3) {
    padding-right: 5%;
    padding-left: 0;
    letter-spacing: -1px;
    width: 100%;
    text-align: right;
  }
}

.title .h2_span {
  color: #C0994C;
}

.title .number {
  color: #C0994C;
  font-size: 90px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:767px) {
  .title .number {
    font-size: 48px;
  }
}

.title .date {
  border: 1px solid#C0994C;
  color: #C0994C;
  font-size: 18px;
  width: 380px;
  padding: 6px 15px;
  text-align: justify;
  margin-left: 140px;
}

@media screen and (max-width:767px) {
  .title .date {
    font-size: 10.5px;
    width: auto;
    padding: 0 1.3%;
    margin-left: 23.8%;
    /* margin-top: -10px; */
    display: inline-block;
  }
}

.content {
  text-align: center;
  margin-right: 345px;
}

@media screen and (max-width:767px) {
  .content {
    margin: 29% 6% 0 4%;
    text-align: initial;
    display: flex;
    justify-content: space-between;
  }

  .content:nth-of-type(3) {
    margin: 0 20% 10% 20%;
  }

  .content:nth-of-type(3) p {
    font-weight: 800;
  }
}

.circle,
.circle_2 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 6px 15px;
  background-color: #EBB2A8;
  text-align: center;
  display: inline-block;
  position: relative;
}

@media screen and (max-width:767px) {

  .circle,
  .circle_2 {
    width: 100px;
    height: 100px;
    margin: 0px;
  }

  .circle:nth-of-type(1) {
    margin-right: 0px;
  }
}

.circle::after,
.circle_2::after {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  border: 1px solid #C0994C;
}

@media screen and (max-width:767px) {

  .circle::after,
  .circle_2::after {
    width: 100px;
    height: 100px;
  }
}

.circle:nth-of-type(1)::after {
  top: -6px;
  left: -4px;
}

.circle:nth-of-type(2)::after {
  top: -4px;
  left: -6px;
}

.circle:nth-of-type(3)::after {
  top: -3px;
  left: 0px;
}

.circle_2:nth-of-type(1)::after {
  top: -6px;
  left: -2px;
}

.circle_2:nth-of-type(2)::after {
  top: 0px;
  left: -6px;
}

@media screen and (max-width:767px) {

  .circle:nth-of-type(1)::after {
    top: -3px;
    left: 2px;
  }

  .circle:nth-of-type(2)::after {
    top: 0px;
    left: -4px;
  }

  .circle:nth-of-type(3)::after {
    top: 0px;
    left: 2px;
  }

  .circle_2:nth-of-type(1)::after {
    top: -3px;
    left: 2px;
  }

  .circle_2:nth-of-type(2)::after {
    top: 0px;
    left: -2px;
  }
}

.circle>.circleimg {
  margin-top: 8px;
}

@media screen and (max-width:767px) {
  .circle>.circleimg {
    width: 30%;
    margin: 0px;
  }
}

.circle p,
.circle_2 p {
  text-align: center;
  font-size: 28px;
  line-height: 46px;
  margin: 0;
}

@media screen and (max-width:767px) {

  .circle p,
  .circle_2 p {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    margin-top: -6%;
    /* font-weight: 700; */
  }
}

.circle span {
  font-size: 40px;
  font-weight: bold;
  color: #9E4844;
  font-family: Arial, sans-serif;
}

@media screen and (max-width:767px) {
  .circle span {
    font-size: 22px;
  }
}

.circle_2 .p_span {
  color: #9E4844;
  font-size: 28px;
}

.circle_2 b {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:767px) {
  .circle_2 b {
    font-size: 22px;
  }
}

.two {
  display: flex;
  padding: 0 90px;
  margin: 15px;
}

@media screen and (max-width:767px) {
  .two {
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin: 0px;
  }
}

.item {
  margin: 0 20px;
}

@media screen and (max-width:767px) {
  .item {
    margin: 0 auto;
    text-align: center;
  }

  .item:nth-of-type(2) {
    margin-left: 12%;
  }
}

.item p {
  color: #C0994C;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .item p {
    font-size: 10.5px;
    letter-spacing: 1px;
    margin-top: 0%;
  }
}

.item>img {
  width: 300px;
}

@media screen and (max-width:767px) {
  .item>img {
    width: 48%;
    margin-top: 5%;
  }
}

.right {
  /* flex-grow: 2; */
  margin-left: 8%;
}

@media screen and (max-width:767px) {
  .right {
    margin-left: 10%;
  }
}

.date_2 {
  margin-top: 65px;
  border: 1px solid#C0994C;
  color: #C0994C;
  font-size: 18px;
  display: inline-block;
  padding: 6px 15px;
  text-align: justify;
}

@media screen and (max-width:767px) {
  .date_2 {
    width:auto;
    margin: 0px;
    font-size: 12px;
    padding: 0px 1%;
  }
}

.right h2,
h3 {
  font-weight: normal;
  color: #C0994C;
}

.right h2 {
  font-size: 40px;
  margin: 0;
}

.right h3 {
  font-size: 32px;
  margin: 5px 0;
}

@media screen and (max-width:767px) {
  .right h2 {
    font-size: 20px;
    margin: 0;
    margin-top: 2%;
  }

  .right h3 {
    font-size: 16px;
    margin: 5px 0;
    text-align: left;
  }
}



#ads {
  background-image: url(./img/house.png);
  width:180px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 200px;
  right: 200px;
  text-align: center;
  cursor: default;

}

@media screen and (max-width:767px) {
  #ads {
    background-image: url(./img/house_R-01.png);
    width: 80px;
    right: 1%;
    text-align: center;
    z-index: 66;
  }
}


#ads_span {
  padding-top: 36%;
  font-size: 12px;
  color: white;
  margin-right: 12%;
}


/* 步驟 */
.step_content {
  display: flex;
  justify-content: center;
  align-items: top;
}

@media screen and (max-width:767px) {
  .step_content {
    width: 100%;
    margin: 8% 0 0 0;
    flex-direction: column;
  }
}

.step_content>img {
  height: 107px;
  align-self: end;
  margin-top: 9%;
  margin-left: 2%;
}

@media screen and (max-width:767px) {
  .step_content>img {
    transform: rotate(90deg);
    height: 70px;
    align-self: center;
    margin-top: 4%;
  }
}

.step {
  width: 350px;

}

@media screen and (max-width:767px) {
  .step {
    width: 95%;
    margin: -33px auto;
    display: flex;
  }

  .step:nth-of-type(1) {
    margin-top: 0px;
    margin-left: 24px;
  }
}

.step h2 {
  font-size: 40px;
  color: #E5DDD8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@media screen and (max-width:767px) {
  .step h2 {
    display: none;
  }
}

.step_item>img {
  vertical-align: bottom;
  margin-left: 15%;
}

@media screen and (max-width:767px) {
  .step_item>img {
    width: 55%;
    display: block;

  }
}

.step_span {
  font-size: 60px;
  color: #E5DDD8;
  font-weight: bold;
}


@media screen and (max-width:767px) {
  .step_span {
    font-size: 35px;
    display: inline-block;
    margin-left: 19%;
  }
}

.step .step_text {
  color: #333333;
  text-align: justify;
  line-height: 48px;
  font-size: 24.5px;
  font-weight: bold;
}

@media screen and (max-width:767px) {
  .step .step_text {
    line-height: 24px;
    width: 52%;
    font-size: 12px;
    padding-top: 7%;
    /* flex-grow: 2; */
    margin: 0 12% 0 0;

  }

  #p_text {
    margin-left: 44px;
    width: 60%;
  }
}

.step_text span {
  color: #9E4844;
}

.step_text a {
  color: #6A9CC6;
}

.step_text a:hover {
  color: rgb(78, 146, 202);
}




.line {
  max-width: 1050px;
  height: 200px;
  border: 1px solid #C0994C;
  border-radius: 100px;
  margin: 50px auto;
  display: flex;
  align-items: center;
}

.Goline {
  display: flex;
}


@media screen and (max-width:767px) {
  .line {
    width: 80%;
    border-radius: 0;
    border-left-style: none;
    border-right-style: none;

  }
}

.line img {
  margin-left: 75px;
  margin-top: 25px;
}

.Goline img {
  margin-left: 70px;
  margin-top: 0px;
}


.Goline h2 {
  color: #C0994C;
  font-size: 40px;
  padding-left: 70px;
  padding-top: 24px;
}

@media screen and (max-width:767px) {
  .line img {
    width: 130px;
    align-self: flex-end;
    margin: 0;
  }

  .Goline {
    flex-direction: column;
  }

  .Goline img {
    width: 95px;
    align-self: center;
    margin-top: 50px;
  }

  .Goline h2 {
    font-size: 20px;
    padding: 0;
  }
}

.btn_all {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.btn,
.ApplicationBtn {
  border: 2px solid #C0994C;
  width: 44%;
  height: 90px;
  border-radius: 90px;
  background-color: rgba(255, 255, 255, 0);
  margin: 15px 15px;
  font-size: 30px;
  color: #C0994C;
  font-family: Arial,
    '微軟正黑體',
    Helvetica,
    sans-serif;
  cursor: pointer;
  /* --------------- */
  position: relative;
  transition: all .3s ease-in-out;
  background: transparent;
  z-index: 10;
  overflow: hidden;
}


.btn:hover,
.ApplicationBtn:hover {
  background-color: #BF8C26;
  color: white;
}

.btn::before,
.ApplicationBtn::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #BF8C26;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(179, 131, 36, .6);
}

.btn::after,
.ApplicationBtn::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #BF8C26;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  transition: all .4s cubic-bezier(.2, .95, .57, .99);
  box-shadow: 2px 0px 14px rgba(179, 131, 36, .6);
}

.btn:hover::before,
.ApplicationBtn:hover::before {
  opacity: 1;
  width: 120%;
}

.btn:hover::after,
.ApplicationBtn:hover::after {
  opacity: 1;
  width: 130%;
}


.ApplicationBtn {
  width: 95%;
}

@media screen and (max-width:767px) {
  .btn_all {
    width: 100%;
  }

  .btn {
    width: 35%;
    height: 50px;
    font-size: 18px;
    outline: none;
  }

  .ApplicationBtn {
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 40px;
    outline: none;
  }
}

.note {
  color: #C0994C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note_line {
  display: inline-block;
  width: 200px;
  border-top: 1px solid #C0994C;
  vertical-align: 8px;
}

.note:hover .plus::before {
  transform: rotate(180deg);
  transition: transform .5s;
}

.plus {
  border: 1px solid #C0994C;
  margin: 20px;
  width: 20px;
  height: 20px;
  position: relative;
}

.plus::after {
  content: '';
  position: absolute;
  width: 90%;
  top: 50%;
  left: 6%;
  height: 1px;
  transform: rotate(0deg);
  background-color: #C0994C;
}

.plus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 6%;
  width: 90%;
  height: 1px;
  background-color: #C0994C;
  transform: rotate(90deg);
}

#notice_content {
  color: #3e3e3e;
  margin: 15px;
  display: none;
}

#notice_content.show {
  display: block;
}

.top {
  display: none;
}

@media screen and (max-width:767px) {
  .note {
    margin-bottom: 45px;
  }

  .note p {
    font-size: 12px;
  }

  .plus {
    margin: 0 8px;
    width: 12px;
    height: 12px;
  }

  .note_line {
    width: 120px;
  }

  .plus::after {
    height: 0.5px;
    top: 55%;
    left: 10%;
  }

  .plus::before {
    height: 0.5px;
    top: 46%;
    left: 10%;
  }

  ol {
    padding-left: 20px;
  }

  .top {
    background-image: url(./img/top.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 67;
  }
}

footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 22px;
  height: 22px;
  margin: 0 16px;
}

@media screen and (max-width:767px) {
  footer span {
    font-size: 12px;
  }
}
